@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<form name="form" action="https://ebpgcards.maybank.com/BPG/admin/payment/PaymentWindowSimulator.jsp">
    <input name="MERCHANT_ACC_NO" value="02700701127375000697" type="text" />
    <input name="MERCHANT_TRANID" value="txn001" type="text" />
    <input name="AMOUNT" value="1.00" type="text" />
    <input name="TRANSACTION_TYPE" value="3" type="text" />
    <input name="TXN_SIGNATURE" value="@ViewBag.Sign" type="text" />
    <input name="RESPONSE_TYPE" value="HTTP" type="text" />
    <input name="RETURN_URL" value="https://localhost/cc/payment/result" type="text" />
    <input name="TXN_DESC" value="Car Order" type="text" />
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
